<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>头像</string>
	<string>名称</string>
	<string>性别</string>
	<string>电话</string>
	<string>通讯地址</string>
	<string>出生日期</string>
	<string>介绍人电邮地址</string>
</array>
</plist>
