<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book1.png</string>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book2.png</string>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book3.png</string>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book4.png</string>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book5.png</string>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book6.png</string>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book7.png</string>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book8.png</string>
	<string>http://www.ziweiyang.com/upload/images/about/thumb/book9.png</string>
</array>
</plist>
